<div class="top-menu page-width" id="topMenu">
    <div class="logo"></div>
    <ul class="menu-list">
        <li><a href="/" class="actived">首页</a></li>
        <li><a href="/about">关于我们</a></li>
        <li><a href="/staffs">员工列表</a></li>
    </ul>
    <div class="quick-link">
        <a href="/login">登录</a>
        <a href="/register" class="actived">注册</a>
    </div>
</div>
<link rel='stylesheet' href='/stylesheets/main.css' />